<html>
<head>
    <title> Get balance </title>
</head>

<body>
	<form action="/result" method="POST">
		<input type="text" name="wallet" /> 
		<button type="submit" value="submit" >Submin</button> <br/> <br/><br/>
		<label>Example address: 0xab5801a7d398351b8be11c439e05c5b3259aec9b</label>		
	</form>
</body>
</html>